/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Cairo", sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.main-title {
    width: fit-content;
    padding: 10px 20px;
    margin: 60px auto;
    font-size: 30px;
    font-weight: bold;
    border: solid 2px black;
    position: relative;
    z-index: 1;
    transform: var(--main-transition);
}
.main-title::before {
    content: "";
    position: absolute;
    display: block;
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: -30px;
}
.main-title::after {
    content: "";
    position: absolute;
    display: block;
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    right: -30px;
}
.main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}

@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        left: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}
@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        right: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}

.main-title:hover {
    color: white;
    border-color: white;
    transition-delay: 0.5s;
    transition-duration: 0.2s;
}
.spikes {
    position: relative;
}
.spikes::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px 30px;
}
.dots {
    background-image: url("../imgs/dots.png");
    height: 186px;
    width: 204px;
    background-repeat: no-repeat;
    position: absolute;
}
.dots-up {
    top: 200px;
    right: 0;
}
.dots-down {
    bottom: 200px;
    left: 0;
}
/* End Global Rules */
/* Start Header */
.header {
    background-color: white;
    position: relative;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.header .logo {
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 767px) {
    .header .logo {
        width: 100%;
        height: 50px;
    }
}
.header .main-nav {
    display: flex;
}
@media (max-width: 767px) {
    .header .main-nav {
        margin: auto;
    }
}
.header .main-nav > li:hover .mega-menu {
    opacity: 1;
    z-index: 100;
    top: calc(100% + 1px);
}
.header .main-nav > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    color: black;
    padding: 0 30px;
    overflow: hidden;
    font-size: 18px;
    transition: var(--main-transition);
}
@media (max-width: 767px) {
    .header .main-nav > li > a {
        padding: 10px;
        font-size: 14px;
        height: 40px;
    }
}
.header .main-nav > li > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition);
}
.header .main-nav > li > a:hover {
    color: var(--main-color);
    background-color: #fafafa;
}
.header .main-nav > li > a:hover::before {
    left: 0;
}
.header .mega-menu {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 30px;
    background-color: white;
    border-bottom: 3px solid var(--main-color);
    z-index: -1;
    display: flex;
    gap: 40px;
    top: calc(100% + 50px);
    opacity: 0;
    transition: top var(--main-transition), opacity var(--main-transition);
}
@media (max-width: 767px) {
    .header .mega-menu {
        flex-direction: column;
        gap: 0;
        padding: 5px;
    }
}
.header .mega-menu .image img {
    max-width: 100%;
}
@media (max-width: 991px) {
    .header .mega-menu .image {
        display: none;
    }
}
.header .mega-menu .links {
    min-width: 250px;
    flex: 1;
}
.header .mega-menu .links li {
    position: relative;
}
.header .mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid #e9e6e6;
}
@media (max-width: 767px) {
    .header .mega-menu .links:first-of-type li:last-child {
        border-bottom: 1px solid #e9e6e6;
    }
}
.header .mega-menu .links li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #fafafa;
    z-index: -1;
    transition: var(--main-transition);
}
.header .mega-menu .links li:hover::before {
    width: 100%;
}
.header .mega-menu .links li a {
    color: var(--main-color);
    padding: 15px;
    display: block;
    font-size: 18px;
    font-weight: bold;
}
.header .mega-menu .links li a i {
    margin-right: 10px;
}
/* End Header */
/* Start Landing */
.landing {
    position: relative;
}
.landing::before {
    content: "";
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}
.landing .container {
    min-height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    padding-bottom: 120px;
}
.landing .text {
    flex: 1;
}
@media (max-width: 991px) {
    .landing .text {
        text-align: center;
    }
}
.landing .text h1 {
    font-size: 40px;
    margin: 0;
    letter-spacing: -2px;
}
@media (max-width: 767px) {
    .landing .text h1 {
        font-size: 28px;
    }
}
.landing .text p {
    font-size: 23px;
    line-height: 1.7;
    margin: 5px 0 0;
    color: #666;
    max-width: 500px;
}
@media (max-width: 991px) {
    .landing .text p {
        margin: 10px auto;
    }
}
@media (max-width: 767px) {
    .landing .text p {
        font-size: 18px;
    }
}
.landing .image img {
    position: relative;
    width: 600px;
    animation: up-and-down 5s linear infinite;
}
@keyframes up-and-down {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@keyframes bouncing {
    0%, 10%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40%, 60% {
        transform: translateY(-15px);
    }
}
@media (max-width: 991px) {
    .landing .image {
        display: none;
    }
}
.landing .go-down {
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);
}
.landing .go-down:hover {
    color: var(--main-color-alt);
}
.landing .go-down i {
    animation: bouncing 1.5s infinite;
}
/* End Landing */

/*Start Articles*/
.Articles {
    padding-bottom: 100px;
}
.Articles .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
    width: 100%;
    margin: auto;
    padding: 10px;
}
.Articles .cards .card {
    position: relative;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0px 2px 7px 0px #00000017;
    transition-duration: 0.2s;
}
.Articles .cards img {
    position: relative;
    width: 100%;
}
.Articles .card .text {
    padding: 15px;
    border-bottom: solid 0.5px #ddd;
}
.Articles .card .text h3 {
    margin-bottom: 10px;
}
.Articles .card .text p {
    line-height: 1.5;
    color: #aaa;
}
.Articles .card .foot {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    color: var(--main-color);
}
.Articles .card .foot a {
    color: var(--main-color);
    font-weight: bold;
}
.Articles .card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.31);
}
.Articles .card:hover i {
    animation: balance 0.5s linear forwards infinite;
}

@keyframes balance {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(7px);
    }
}

.Gallery {
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: var(--section-background);
}
.Gallery .images {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 35px;
}
.Gallery .images .image {
    position: relative;
    border: solid white 15px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0px 0px 8px 0px #aaaaaa;
}
.Gallery .images .image::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255 255 255 / 20%);
    width: 0px;
    height: 0px;
    z-index: 1;
    opacity: 0;
}
.Gallery .images .image:hover::before {
    animation: scale 0.5s linear;
}
@keyframes scale {
    0% , 40% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}
.Gallery .images img {
    width: 100%;
    transition-duration: 0.5s;
}
.Gallery .image:hover img {
    transform: rotate(5deg) scale(1.1);
}

/*End Articles*/

/*Start Features*/
.Features {
    padding-bottom: 50px;
    position: relative;
    /*background-color: white;*/
}
.Features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
}
.Features .container .box {
    position: relative;
    overflow: hidden;
    /*max-width: 30%;*/
    border: solid 1px #ccc;
}
/*@media (max-width: 991px) {*/
/*    .Features .container .box {*/
/*        max-width: 47%;*/
/*    }*/
/*}*/
/*@media (max-width: 750px) {*/
/*    .Features .container .box {*/
/*        max-width: 50%;*/
/*    }*/
/*}*/
/*@media (max-width: 695px) {*/
/*    .Features .container .box {*/
/*        max-width: 70%;*/
/*    }*/
/*}*/
/*@media (max-width: 530px) {*/
/*    .Features .container .box {*/
/*        max-width: 85%;*/
/*    }*/
/*}*/
/*@media (max-width: 460px) {*/
/*    .Features .container .box {*/
/*        max-width: 100%;*/
/*    }*/
/*}*/
/*.Features .container .box::before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    background: white;*/
/*    height: 25%;*/
/*    z-index: -1;*/
/*    top: 50%;*/
/*    transform: translateY(-50%) skew(0deg, -20deg);*/
/*    transition: 0.3s;*/
/*}*/
.Features .container .box:hover::before {
    transform: translateY(-50%) skew(0deg, 20deg);
}
.Features .container .image {
    position: relative;
    max-width: 100%;
    z-index: -2;
}
.Features .container .image::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 130px 500px;
    border-color: transparent transparent white transparent;
    transition: 0.3s;
}
.Features .box:hover .image::after {
    border-width: 170px 500px 170px 0px;
}
.Features .container .im-one::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 69, 0, 0.55);
}
.Features .container .im-two::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(32, 178, 170, 0.55);
}
.Features .container .im-three::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 191, 255, 0.55);
}
.Features .container .image img {
    width: 100%;
}
.Features .text {
    text-align: center;
    padding: 20px;
    z-index: 1;
}
.Features .text h2 {
    font-size: 40px;
    padding: 20px;
    position: relative;
    margin-bottom: 40px;
}
.Features .container .box h2::before {
    content: "";
    background-color: var(--main-color);
    position: absolute;
    height: 5px;
    width: 30%;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
}
.Features .container .box .h-one::before {
    background-color: orangered;
}
.Features .container .box .h-two::before {
    background-color: lightseagreen;
    width: 20%;
}
.Features .container .box .h-three::before {
    background-color: deepskyblue;
    width: 35%;
}
.Features .text p {
    font-size: 20px;
    line-height: 2;
    margin-bottom: 55px;
    color: #737373;
}
.Features .text a {
    font-size: 22px;
    font-weight: bold;
    color: orangered;
    border: solid orangered 3px;
    padding: 10px 30px;
    border-radius: 5px;
    margin-bottom: 15px;
    position: relative;
    display: inline-block;
    transition: 0.3s;
}
.Features .text .l-one {
    color: orangered;
    border-color: orangered;
    /*background: linear-gradient(to right , orangered 50% , white 50%);*/
    /*background-size:  200% 100%;*/
    /*background-position: right bottom;*/
}
.Features .text .l-one::before {
    content: "";
    position: absolute;
    width: 0;
    background-color: orangered;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}
.Features .text .l-two {
    color: lightseagreen;
    border-color: lightseagreen;
}
.Features .text .l-three {
    color: deepskyblue;
    border-color: deepskyblue;
}
/*End Features*/

/*Start Tistimonials*/
.testimonials {
    background-color: var(--section-background);
    padding-top: 30px;
    padding-bottom: 50px;
}
.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 40px;
}
.testimonials .box {
    background-color: white;
    padding: 20px;
    position: relative;
    border-radius: 7px;
    box-shadow: 0 2px 4px rgba( 0 0 0 / 7%);
}
.testimonials img {
    width: 100px;
}
.testimonials .image {
    position: absolute;
    right: 0px;
    top: -50px;
    border-radius: 50%;
    overflow: hidden;
    border: solid 10px var(--section-background);
}
.testimonials .box h3 {
    margin-bottom: 10px;
}
.testimonials .box span {
    display: block;
    margin-bottom: 10px;
    color: #737373;
}
.testimonials .box p {
    line-height: 1.6;
    color: #737373;
    font-size: 17px;
}
.testimonials .filled {
    color: gold;
}
.testimonials .rate {
    margin-bottom: 10px;
}
/*End Tistimonials*/

/*Start Team Members*/
.team-member {
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.team-member .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 30px;
}

.team-member .card {
    position: relative;
}

.team-member .card::before {
    content: "";
    position: absolute;
    background-color: #f3f3f3;
    width: calc(100% - 60px);
    height: 100%;
    right: 0;
    top: 0;
    z-index: -2;
    border-radius: 10px;
}

.team-member .card::after {
    content: "";
    position: absolute;
    background-color: #e4e4e4;
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    border-radius: 10px;
    transition: var(--main-transition) linear;
}

.team-member .card:hover::after {
    width: calc(100% - 60px);
}

.team-member .card .image img {
    width: 100%;
    transition: var(--main-transition);
}
.team-member .card:hover img {
    filter: grayscale(100%);
}

.team-member .card .photos {
    display: flex;
    padding-top: 50px;
}

.team-member .card .image {
    border-radius: 5%;
    overflow: hidden;
}

.team-member .card .icons {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    gap: 30px 0;
}

.team-member .card i {
    color: #737373;
}

.team-member .card .text {
    padding: 20px;
    transform: translateX(60px);
    width: fit-content;
}

.team-member .card .text h3 {
    margin-bottom: 10px;
    font-size: 20px;
    color: var(--main-color);
}
/*End Team MEMBERS*/

/*Start Services*/
.services {
    background-color: var(--section-background);
    padding-bottom: var(--main-padding-bottom);
    padding-top: 10px;
}

.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 30px;
}

.services .box {
    background-color: white;
    box-shadow: 0px 0px 8px 0px #c1c0c0;
    z-index: 0;
    position: relative;
    transition: 0.2s linear;
}

.services .box::before {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    width: 0;
    height: 3px;
    transition: 0.2s linear;
    transform: translateX(-50%);
    left: 50%;
}

.services .box:hover::before {
    width: 100%;
}

.services .box:hover {
    transform: translateY(-10px);
}

.services .icons {
    text-align: center;
    padding: 25px;
}

.services .icons i {
    margin-bottom: 20px;
    color: #dddddd;
}

.services .icons h3 {
    font-size: 25px;
    color: var(--main-color);
}

.services .text {
    background-color: #eeeeee;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.services .text::before {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 30%;
    background-color: var(--main-color);
    z-index: -1;
    transform: translateX(-20px) skewX(-30deg);
}

.services .text::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 44%;
    background-color: #d1d0d0;
    z-index: -2;
    transform: translateX(-20px) skewX(-30deg);
}

.services .text h3 {
    font-size: 30px;
    color: white;
    padding: 10px 20px;
}

.services .info {
    display: flex;
    align-items: center;
}

.services .info a {
    color: var(--main-color);
    padding: 10px;
}
/*End Services*/

/*Start Our Skills*/
.our-skills {
    padding-bottom: var(--main-padding-bottom);
}

@media (max-width: 767px) {
    .our-skills img {
        display: none;
    }
}

.our-skills .container {
    display: flex;
    flex-wrap: wrap;
}

.our-skills .rate {
    display: flex;
    flex-direction: column;
    gap: 20px 0px;
    flex-grow: 1;
    justify-content: space-around;
}

.our-skills .rate h3 {
    /*margin: 10px;*/
}

.our-skills .rate div {
    height: 35px;
    background-color: #eeeeee;
    position: relative;
}

.our-skills .rate div::before {
    content: "";
    position: absolute;
    height: 100%;
    background-color: var(--main-color);
}

.our-skills .rate div::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-45px);
    border: 1px solid #aaaaaa;
    padding: 5px;
    border-radius: 5px;
    font-size: 13px;
    color: var(--main-color);
    font-weight: bold;
}

.our-skills .rate .html::after {
    content: "80%";
}

.our-skills .rate .css::after {
    content: "85%";
}

.our-skills .rate .js::after {
    content: "70%";
}

.our-skills .rate .python::after {
    content: "80%";
}

.our-skills .rate .html::before {
    width: 80%;
}
.our-skills .rate .css::before {
    width: 85%;
}
.our-skills .rate .js::before {
    width: 70%;
}
.our-skills .rate .python::before {
    width: 80%;
}
/*End Our Skills*/

/*start how it work*/
.work {
    background-color: var(--section-background);
    padding-bottom: var(--main-padding-bottom);
    padding-top: 10px;
}

.work .container {
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: space-between;
}

.work img {
    width: 480px;
    height: 480px;
}

.work .text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

.work .text .speech {
    display: flex;
    border: 2px solid white;
    border-radius: 5px;
    padding: 30px;
    align-items: center;
    background-color: #f4f4f4;
}

.work .text .speech img {
    width: 70px;
    height:70px;
}

.work .text .speech .intext {
    margin-left: 25px;
}

.work .text .speech h3 {
    margin-bottom: 10px;
    font-size: 23px;
}

.work .text .speech p {
    font-size: 17px;
    line-height: 1.7;
}

@media (max-width: 995px) {
    .work .image-1 {
        display: none;
    }
}

/*end how it work*/